@import "tailwindcss";

body{
    background-color: #101010;
}

/* Hide scrollbar but keep scroll */
body::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

@font-face {
    font-family: font1;
    src: url('./Fonts/inter-tight-regular.woff2');
}

@font-face {
    font-family: font2;
    src: url('./Fonts/inter-tight-700.woff2');
}
@font-face {
    font-family: font3;
    src: url('./Fonts/inter-regular.woff2');
}
@font-face {
    font-family: font4;
    src: url('./Fonts/inter-700.woff2');
}
@font-face {
    font-family: font5;
    src: url('./Fonts/inter-500.woff2');
}
@font-face {
    font-family: font7;
    src: url("./Fonts/fonnts.com-sabrosa-medium.otf");
}